<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Handlebars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header class="container-fluid d-flex headd flex-column">
    <h2>Chat Handlebars</h2>
    <a href="/" class="btn btna btn-primary ">Home</a>
</header>

<hr>

<main class="container-fluid d-flex flex-column  aling-items-center">
    <div id="mensajes">

    </div>
    <input type="text" id="mensaje">
</main>

<br>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

</body>
</html>
