* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  height: 100px;
  justify-content: center;
  background-color: burlywood;
}

.btna {
  width: fit-content;
}

#mensajes {
  margin-top: 15px;
  width: 90%;
  height: 350px;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px #333 inset;
  padding: 5px;
  background-color: rgb(215, 195, 169);
}

input {
  width: 25%;
  margin: 10px;
}

.mensaje {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px;
  background-color: wheat;
  display: inline-block;
  margin-top: 5px;
}

footer {
  height: 50px;
  background-color: rgb(241, 215, 178);
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
}
